
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: chocolate;
}
h1{
    color: chartreuse;
    font-size: 60px;
    text-align: center;
    }
    p{
    color: chartreuse;
    font-size: 60px;
    text-align: center;
    }
    img{
    width: 25%;
    margin-left: 680px;
    }